<a href="https://colab.research.google.com/github/ElakkiyaKS/Colab/blob/main/Own_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#using function
def factorial(n):
   if n == 1:
     return n
   else:
     return n*factorial(n-1)
num = int(input())
factorial(num)

5

120

In [ ]:
#without using function
num = int(input("Enter a number: "))
factorial = 1

if num < 0:
    print("Factorial does not exist for negative numbers.")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    for i in range(1, num + 1):
        factorial *= i
    print(f"The factorial of {num} is {factorial}")

Enter a number: 5
The factorial of 5 is 120

In [ ]:
d = {}
size=int(input())
for i in range(size):
  key = (input())
  value = (input())
  d[key]= value
  print(d)

3
1
apple
{'1': 'apple'}
2
orange
{'1': 'apple', '2': 'orange'}
1
kiwi
{'1': 'kiwi', '2': 'orange'}

In [ ]:
#to sort the given dictionary using values
d = {}
n = int(input())
for x in range(n):
  key = input()
  value = input()
  d[key]=value
  print(d)
print(sorted(d.values()))

4
1
apple
{'1': 'apple'}
2
kiwi
{'1': 'apple', '2': 'kiwi'}
3
zebra
{'1': 'apple', '2': 'kiwi', '3': 'zebra'}
4
orange
{'1': 'apple', '2': 'kiwi', '3': 'zebra', '4': 'orange'}
['apple', 'kiwi', 'orange', 'zebra']

In [ ]:
#
list=[]
n = int(input())
for i in range(n):
  ele = int(input())
  list.append(ele)
print(list)

5
1
2
3
4
5
[1, 2, 3, 4, 5]

In [ ]:
l=[2,5,12,45,87]
count=0
for i in l:
  count+=i
  avg=count/len(l)
print(count)
print(avg)

151
30.2

In [ ]:
def Reverse(l):
  new_list=l[::-1]
  return new_list
l=[4,7,8,23,56]
Reverse(l)

[56, 23, 8, 7, 4]

In [ ]:
n=[1,4,5,7,8]
print(n.sort())

None

In [ ]:
num = 12345
list = []
while num > 0:
    rem = num % 10
    list.append(rem)
    num = num // 10
print(list)

[5, 4, 3, 2, 1]

In [ ]:
num = int(input())
for i in range

In [ ]:
#to remove duplicates
list = [7,8,9,7,4,5,2,]
list1 = []
for i in list:
  if i not in list1:
    list1.append(i)
print(list1)

[7, 8, 9, 4, 5, 2]

In [ ]:
#to remove duplicate from the list using "SET"
a = [3,5,4,2,3,6,7,1,5,8,0]
print(set(a))
p

{0, 1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
#to count the number of vowels
string = input()
count = 0
for char in string:
   if char in 'aeiou':
      count = count+1
print(count)

apple
2

In [ ]:
#to calculate sum of all even numbers in the list
list = [1,2,3,4,5]
x = []
for i in list:
  if i%2 == 0:
    x.append(i)
print(sum(x))

6

In [ ]:
#to find the second largest number in list
list = [5,3,4,2,1]
a = sorted(list)
print(a)
print(a[-20])

[1, 2, 3, 4, 5]
4

In [ ]:
#to check whether given string is palindrome or not
a = input()
b = a[::-1]
if a == b:
  print("it is palindrome")
else:
  print("not a palindrome")

malayalam
it is palindrome

In [ ]:
#to merge the two dictionaries
m = {'a': 1, 'b': 2}
n = {'b': 3, 'c': 4}
m.update(n)
print(m)

{'a': 1, 'b': 3, 'c': 4}

In [ ]:
#sorting the string
string = "paper true soap floppy flowers"
a = string.split()
print(a)
b = sorted(a,key = lambda x: x[0])
print(b)

['paper', 'true', 'soap', 'floppy', 'flowers']
['floppy', 'flowers', 'paper', 'soap', 'true']

In [ ]:
# position of x with index
arr = list(map(int, input().split()))
n = int(input())
for i in arr:
  if i==n:
    print(arr.index(n))

1 2 3 4 5
2
1

In [ ]:
N = int(input())
a = []
if N%2!=0:
  print("pairing isn't possible")
for i in range(1,N+1):
  a.append(i)
print(a)
b = len(a)//2
print(b)

4
[1, 2, 3, 4]
2

In [ ]:
#3.
initial=int(input("Enter no of litres in car:"))
bunks=int(input("Enter no of bunks:"))
dist=[]
capacity=[]
for i in range(1,bunks+1):
    dist.append(int(input(f"enter the distance of {i} bunk:")))
    capacity.append(int(input(f"enter the capacity of {i} bunk:")))
print("remaining petrol in car is ",(initial + sum(capacity))-(sum(dist)),"litres")

Enter no of litres in car:2
Enter no of bunks:3
enter the distance of 1 bunk:1
enter the capacity of 1 bunk:6
enter the distance of 2 bunk:5
enter the capacity of 2 bunk:4
enter the distance of 3 bunk:3
enter the capacity of 3 bunk:2
remaining petrol in car is  5 litres

In [ ]:
input = list(int ,input().split())
k = int(input())