In [ ]:
#multiply two numbers without "*"
n1=7
n2=7
product=0
for i in range(1,n1+1):
   product+=n2
print(product)

49

In [ ]:
#divide two numbers without / and //
num1=8
num2=2
temp=0
if num1 < num2:
  print(0)
else:
  rem = num1%num2
  for i in range(num1):
    temp=(i*num2)+rem
    if temp==num1:
      print(i)
      break

4

In [ ]:
#subtracting two numbers usingg bitwise operator
num1=5
num2=6

In [ ]:
#adding two numbers using bitwise operator
n1=8
n2=7
n3=n1|n2
print(n3)

15

In [ ]:
#to print pattern
row = int(input())
for i in range(1,row+1):
   for j in range(1,i+1):
      print(i,end=" ")
   print(" ")

5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
# to print pattern
row = int(input())
for i in range(1,row+1):
   for j in range(1,i+1):
      print(j,end=" ")
   print(" ")

5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
#to print pattern
row=int(input())
for i in range(1,row+1):
  for j in range(1,  )