In [ ]:
##############LIST################

In [ ]:
# TO APPEND VALUE IN LIST
list = [1,2,3,"computer"]
list.append("apple")
list

[1, 2, 3, 'computer', 'apple']

In [ ]:
# TO REMOVE VALUE IN LIST
list = [1,2,3,"apple"]
list.remove("apple")
list

[1, 2, 3]

In [ ]:
# TO POP(DELETE LAST VALUE) IN LIST
list = [1,2,3,4,5]
list.pop()
list

[1, 2, 3, 4]

In [ ]:
#TO REPLACE VALUE IN LIST
list = [1,2,3,4]
list[3]=5
list

[1, 2, 3, 5]

In [ ]:
#######PROBLEM##########

In [ ]:
#to find which divisors of two numbers are same
num1=int(input("Enter a number:"))
num2=int(input("Enter a number:"))
n = max(num1,num2)
for i in range(2,n):
 if(num1%i==0 and num2%i==0):
   print(i)

Enter a number:6
Enter a number:4
2